@charset "UTF-8";



/* ==================== */
/* レシピ */
/* ==================== */

.recipe {
    position: relative;
    width: 320px;
    height: 240px;
    /*親要素にrelative*/
}

.recipe p {
    position: absolute;
    /*重ねたい子要素にabsolute*/
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*センター寄せの修正*/
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    margin: 0 !important;
    /*文字がずれている場合や*/
    padding: 0 !important;
    /*文字が折り返される場合*/
    color: #171B39;
    display: inline-block;
    background-color: rgba(250, 217, 241, 0.5);
}

.img-fluid {
    width: 100%;
    height: auto;
}

.page_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
