@charset "utf-8";


/* ==================== */
/* section-base */
/* ==================== */

section+section {
	margin-top: 60px;
}

.inner {
	max-width: 350px;
	margin: 0 auto;
}

.ttl_box {
	/* border: 2px solid red; */
	text-align: center;

	margin-bottom: 32px;
}

.ttl_box span {
	display: inline-block;
}

.ttl_box .ttl {
	/* 28px */
	font-size: 3rem;

	font-weight: 500;
	letter-spacing: 0.1em;

	margin-bottom: 8px;
}

.ttl_box .sb-ttl {
	/* 20px */
	font-size: 2rem;
}

/* ---------- */
/* tablet */
@media(width>=700px) {
	.inner {
		max-width: 680px;
	}
}

/* ---------- */
/* pc */
@media(width>=1060px) {
	section {
		margin-top: 0px;
		margin-bottom: 120px;
	}

	.inner {
		max-width: 1040px;
	}

	.ttl_box {
		margin-bottom: 64px;
	}

	.ttl_box .ttl {
		/* 48px */
		font-size: 4.8rem;
	}

	.ttl_box .sb-ttl {
		/* 16px */
		font-size: 1.6rem;
	}
}

/* ==================== */
/* パンくずリスト */
/* ==================== */

.breadcrumb {
	margin: 0;
	padding: 0;
	list-style: none;
}

.breadcrumb li {
	position: relative;
	display: inline-block;
	/*横に並ぶように*/
	list-style: none;
	font-weight: bold;
	/*太字*/
	margin-right: 0.3em;
}

.breadcrumb li:after {
	content: "";
	position: absolute;
	top: 7px;
	right: -19px;
	border-style: solid;
	border-color: transparent;
	border-left-color: #feebcc;
	border-width: 7px 12px;
	width: 0;
	height: 0;
}

.breadcrumb li a {
	display: inline-block;
	padding: 0 7px;
	height: 28px;
	line-height: 28px;
	text-decoration: none;
	color: #9b9b9b;
	background: #feebcc;
	font-size: 13px;
	border-radius: 20px;
	transition: 0.3s;
}

.breadcrumb li a:hover {
	transform: translateY(-3px);
}

/* パンくずリスト(PC) */
@media screen and (min-width:770px) {
	.breadcrumb {
		font-size: 16px;
	}
}

/* SP・TBでパンくず非表示 2022.10.19 aka */
@media screen and (max-width:1023px) {
	.breadcrumb {
		display: none;
	}
}

/* ==================== */
/* column */
/* ==================== */

a {
	text-decoration: none;
}

.column_list img {
	text-align: center;
	margin-bottom: 18px;
	border-radius: 10px;


}


.column_list h3 {
	/* 20px */
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 14px;
}

.column_list p {
	margin-bottom: 36px;
}

.column_list a {


	background-color: #F7EB99;
	color: black;
	font-size: 2rem;
	box-shadow: 5px 5px 0 #FBB126;
	/* width: 100%; */
	padding: 16px;
	text-align: left;
	border-radius: 8px;
	line-height: 30px;
	letter-spacing: 0.1em;

	margin-bottom: 14px;

	/* おまけ用 */
	border: 2px solid #FBB126;
	transition: 0.6s;
}

.column .more {
	/* 20px */
	font-size: 2rem;
	font-weight: 500;
	border: 2px solid #FBB126;
	padding: 30px;
	text-align: center;

	/* おまけ用 */
	transition: 0.6s;
}

/* ----- */
/* おまけ */
.column_list a:hover {
	background-color: #F7EB99;
	color: #fff;
	/* border: 2px solid #3FA9F5; */
}

.column_list a:hover {
	background-color: #FBB126;
	color: #fff;
}

/* ---------- */
/* tablet */
@media(width>=700px) {
	.column_list {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;

		/* border: 2px solid red; */
	}

	.column_list li {
		/* border: 2px solid blue; */

		max-width: 320px;
	}



	/* ---------- */
	/* pc */
	@media(width>=1060px) {
		.column .more {
			max-width: 400px;
			margin: 0 auto;
		}
	}

	/* 親要素の共通設定 */
	/*.box {
    /* 見た目の設定 */
	/* background-color: skyblue;
    padding: 5px;
    margin: 10px auto;
*/

	/* flexboxの設定 */
	/* display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
*/


	/* 子要素の共通設定 */

	.box_column {
		/* 見た目の設定 */
		/* background-color: #FBB126; */
		width: 300px;
		height: 400px;



		/* text-align: center;
    line-height: 200px;
    color: red;
    */
	}

	/* p_list_categories */
	/* fukushima 2022-10-14 s */
	li.cat-item {
		height: 40px;
		border-bottom: 1px solid #000;
		padding: 0.5rem 0;
		position: relative;
		width: 100%;
	}

	li.cat-item a {
		display: block;
		width: 100%;
		font-size: 2rem;
		font-weight: 500;
		margin-bottom: 14px;
	}

	li.cat-item a::after {
		position: absolute;
		content: ">";
		top: 10px;
		bottom: 0;
		right: 0;
	}

	.category_list h3 {
		/* 20px */
		font-size: 2rem;
		font-weight: 500;
		margin-bottom: 14px;
	}

	/* 繝ｬ繧ｹ繝昴Φ繧ｷ繝門ｯｾ蠢�(TB迚�) */
	@media screen and (min-width:340px) {
		.card-container {
			display: grid;
			grid-template-columns: 1fr;
		}

		.card-wrap {
			margin: 0 30px 30px 0;
		}

		.card-wrap:nth-child(2n) {
			margin-right: 0;
		}

		.contet-sidebar {
			display: wrap;
		}
	}

	/* 繝ｬ繧ｹ繝昴Φ繧ｷ繝門ｯｾ蠢�(TB迚�) */
	@media screen and (min-width:770px) {
		.card-container {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}

		.card-wrap {
			margin: 0 30px 30px 0;
		}

		.card-wrap:nth-child(2n) {
			margin-right: 0;
		}

		.contet-sidebar {
			display: wrap;
		}
	}

	/* 繝ｬ繧ｹ繝昴Φ繧ｷ繝門ｯｾ蠢�(PC迚�) */
	@media screen and (min-width:1024px) {
		.contet-sidebar {
			display: flex;
		}
	}

	/* 繝励Λ繧ｰ繧､繝ｳ縲指p-pagenavi縲� */
	.wp-pagenavi {
		clear: both;
		text-align: center;
	}

	.wp-pagenavi a,
	.wp-pagenavi span {
		color: #795A3C;
		/* background-color: #FFF1DA; */
		background-color: #FFF;
		border: 1px solid #DBC9AA;
		/* padding: 8px 15px; */
		padding: 8px 12px;
		margin: 0 2px;
		/* margin: 2px 2px; */
		white-space: nowrap;
		/* -moz-border-radius: 3px; */
		-moz-border-radius: 50%;
		/* -webkit-border-radius: 3px; */
		-webkit-border-radius: 50%;
		/* border-radius: 3px; */
		border-radius: 50%;
		-webkit-transition: 0.2s ease-in-out;
		-moz-transition: 0.2s ease-in-out;
		-o-transition: 0.2s ease-in-out;
		transition: 0.2s ease-in-out;
		text-align: center;
		text-decoration: none;
	}

	.wp-pagenavi a:hover {
		color: #FFF;
		background-color: #A09D71;
		border-color: #999;
	}

	.wp-pagenavi span.current {
		color: #FFF;
		background-color: #FFC24B;
		border-color: #FFC24B;
		font-weight: bold;
	}
