@charset "utf-8";


/* ==================== */
/* section-base */
/* ==================== */

section+section {
	margin-top: 60px;
}

.inner {
	max-width: 350px;
	margin: 0 auto;
}

.ttl_box {
	/* border: 2px solid red; */
	text-align: center;
	/* font-size: 4rem; */
	margin-bottom: 32px;
}

.ttl_box span {
	display: inline-block;
}




/* ---------- */
/* tablet */
@media(width>=700px) {
	.inner {
		max-width: 680px;
	}
}

/* ---------- */
/* pc */
@media(width>=1060px) {
	section {
		margin-top: 0px;
		margin-bottom: 120px;
	}

	.inner {
		max-width: 1040px;
	}
}

/* ==================== */
/* パンくずリスト */
/* ==================== */

.breadcrumb {
	margin: 0;
	padding: 0;
	list-style: none;
}

.breadcrumb li {
	position: relative;
	display: inline-block;
	/*横に並ぶように*/
	list-style: none;
	font-weight: bold;
	/*太字*/
	margin-right: 0.3em;
}

.breadcrumb li:after {
	content: "";
	position: absolute;
	top: 7px;
	right: -19px;
	border-style: solid;
	border-color: transparent;
	border-left-color: #feebcc;
	border-width: 7px 12px;
	width: 0;
	height: 0;
}

.breadcrumb li a {
	display: inline-block;
	padding: 0 7px;
	height: 28px;
	line-height: 28px;
	text-decoration: none;
	color: #9b9b9b;
	background: #feebcc;
	font-size: 13px;
	border-radius: 20px;
	transition: 0.3s;
}

.breadcrumb li a:hover {
	transform: translateY(-3px);
}

/* パンくずリスト(PC) */
@media screen and (min-width:770px) {
	.breadcrumb {
		font-size: 16px;
	}
}

/* SP・TBでパンくず非表示 2022.10.19 aka */
@media screen and (max-width:1023px) {
	.breadcrumb {
		display: none;
	}
}

/* ==================== */
/* column */
/* ==================== */

/* サイドバー対策 */
@media screen and (min-width: 1060px) {
	.column_flex {
		display: flex;
		justify-content: space-around;
		width: 900px;
	}

	.side_bar {
		width: 250px;
	}
}

@media screen and (max-width: 1059px) {
	.side_bar {
		margin-top: 50px;
		margin-bottom: 80px;
	}
}

/* ---------- */
/* tablet */
@media(width>=700px) {
	.column_list {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
	}

	.column_list li {
		max-width: 320px;
	}

}

/* ---------- */
/* pc */
@media(width>=1060px) {
	.column .more {
		max-width: 400px;
		margin: 0 auto;
	}
}

/* 子要素の共通設定 */

.box_column {
	/* 見た目の設定 */
	/* background-color: #FBB126; */
	width: 300px;
	height: 400px;
}

/* p_list_categories */
/* fukushima 2022-10-14 s */
li.cat-item {
	height: 40px;
	border-bottom: 1px solid #000;
	padding: 0.5rem 0;
	position: relative;
	width: 100%;
}

li.cat-item a {
	display: block;
	width: 100%;
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 14px;
}

li.cat-item a::after {
	position: absolute;
	content: ">";
	top: 10px;
	bottom: 0;
	right: 0;
}

.category_list h3 {
	/* 20px */
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 14px;
}

.card-wrap {
	margin: 0 30px 30px 0;
}

.card-wrap:nth-child(2n) {
	margin-right: 0;
}

.category-list-outer {
	height: 50px;
	background-color: beige;
	padding: 5px;
	border-radius: 3px;
}

.category-list {
	background-color: beige;
	border: dashed 2px white;
	border-radius: 3px;
	height: 40px;
	text-align: center;
	font-size: 2.3rem;

}

.wp-pagenavi {
	clear: both;
	text-align: center;
}

.wp-pagenavi a,
.wp-pagenavi span {
	color: #795A3C;
	/* background-color: #FFF1DA; */
	background-color: #FFF;
	border: 1px solid #DBC9AA;
	/* padding: 8px 15px; */
	padding: 8px 12px;
	margin: 0 2px;
	/* margin: 2px 2px; */
	white-space: nowrap;
	/* -moz-border-radius: 3px; */
	-moz-border-radius: 50%;
	/* -webkit-border-radius: 3px; */
	-webkit-border-radius: 50%;
	/* border-radius: 3px; */
	border-radius: 50%;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	text-align: center;
	text-decoration: none;
}

.wp-pagenavi a:hover {
	color: #FFF;
	background-color: #A09D71;
	border-color: #999;
}

.wp-pagenavi span.current {
	color: #FFF;
	background-color: #FFC24B;
	border-color: #FFC24B;
	font-weight: bold;
}
