@charset "UTF-8";

/*
本プロジェクトにおける共通CSS
以下の共通で使用する属性やデザインパーツなどについて記載してください。
    コンテンツ幅
    フォント名及びフォントサイズ
    カード型
    パンくずリスト
    見出し
    リンクボタン
    ロゴ
    ページネーション
    共通で使用するクラス
    マージン、パディントン
    その他共通で使用するもの
*/


/* ボタンCSSテスト

.original-button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    border-radius: 12px;
    width: 130px;
    height: 30px;
    font-weight: bold;
    transition: 0.3s;
    background-color: #f799d1;
}

.original-button:hover {
    opacity: .7;
} */

/* ==================== */
/* base */
/* ==================== */

body {
    /* 全体の基本フォント */
    font-size: 62.5%;
    font-family: "Zen Maru Gothic", serif, "Open Sans";
    font-style: normal;
    color: #463D3B;
    font-weight: 500;
    line-height: 1.4;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
    margin: 40px 0px 40px 0px;
}

p {
    font-size: 1.6rem;
}

/* .zen-maru-gothic-regular {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
} */

img {
    max-width: 100%;
}

a {
    display: block;
}

.sp-none {
    display: none;
}


/* おまけ */
a img:hover {
    opacity: 0.5;
}

/* flexかけるところにこのclass名をつけると楽 */
.flex {
    display: flex;
}

/* コンテナーの幅 */
.inner {
    max-width: 1024px;
    min-width: 320px;
    margin: 0 auto;
}

/*もっと見るボタン <a href="" class="btn btn-border-shadow btn-border-shadow--color">PUSH！</a>*/

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}

/* 背景用*/
body {
    padding: 30px;
}

.btn,
a.btn,
button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    /* display: inline-block; */
    padding: 1rem 4rem;
    cursor: pointer;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
    user-select: none;
    /* -webkit-transition: all 0.3s; */
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
    width: 200px;
    margin: auto;
}

a.btn-border-shadow {
    padding: calc(1.5rem - 12px) 3rem 1.5rem;
    background: #fff;
}

a.btn-border-shadow:before {
    position: absolute;
    top: -6px;
    left: -6px;

    width: 100%;
    height: 100%;

    content: "";
    /* -webkit-transition: all 0.3s ease; */
    transition: all 0.3s ease;

    border: 3px solid #000;
    border-radius: 0.5rem;
}

a.btn-border-shadow:hover {
    padding: calc(1.5rem - 6px) 3rem;
}

a.btn-border-shadow:hover:before {
    top: 0;
    left: 0;
}

a.btn-border-shadow--color {
    border-radius: 0;
    background: #FBB126;
}

a.btn-border-shadow--color:before {
    border-radius: 0;
}
