@charset "UTF-8";

/*
本プロジェクトにおける共通CSS
以下の共通で使用する属性やデザインパーツなどについて記載してください。
    コンテンツ幅
    フォント名及びフォントサイズ
    カード型
    パンくずリスト
    見出し
    リンクボタン
    ロゴ
    ページネーション
    共通で使用するクラス
    マージン、パディントン
    その他共通で使用するもの
*/


/* ボタンCSSテスト

.original-button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    border-radius: 12px;
    width: 130px;
    height: 30px;
    font-weight: bold;
    transition: 0.3s;
    background-color: #f799d1;
}

.original-button:hover {
    opacity: .7;
} */

/* 背景に和紙画像を入れるとしたらの場合の準備 */

/* body {
    background-image: url(https://beiz.jp/images_S/japanese-paper/japanese-paper_00445.jpg);
} */

/* ==================== */
/* base */
/* ==================== */
html {
    /* 全体の基本フォント */
    font-size: 62.5%;
    font-family: "Zen Maru Gothic", serif, "Open Sans";
    font-style: normal;
    color: #463D3B;
    font-weight: 500;
    line-height: 1.4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

.ttl_h2 {
    margin-top: 40px;
}

p {
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

a {
    display: block;
    text-decoration: none;
    /* text-decorationでリンク下線の除去 */
}

/* おまけ */
a img:hover {
    opacity: 0.5;
}

/* flexかけるところにこのclass名をつけると楽 */
.flex {
    display: flex;
}

/* コンテナーの幅 */
.inner {
    max-width: 1024px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

header {
    margin-bottom: 80px;
}

@media screen and (min-width:900px) {
    header {
        margin-bottom: 0px;
    }
}

/*もっと見るボタン <a href="" class="btn btn-border-shadow btn-border-shadow--color">もっと見る</a>*/
.btn,
a.btn,
button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    /* display: inline-block; */
    padding: 1rem 4rem;
    cursor: pointer;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
    user-select: none;
    /* -webkit-transition: all 0.3s; */
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
    width: 200px;
    margin: auto;
}

a.btn-border-shadow {
    padding: calc(1.5rem - 12px) 3rem 1.5rem;
    background: #fff;
}

a.btn-border-shadow:before {
    position: absolute;
    top: -6px;
    left: -6px;

    width: 100%;
    height: 100%;

    content: "";
    /* -webkit-transition: all 0.3s ease; */
    transition: all 0.3s ease;

    border: 3px solid #000;
    border-radius: 0.5rem;
}

a.btn-border-shadow:hover {
    padding: calc(1.5rem - 6px) 3rem;
}

a.btn-border-shadow:hover:before {
    top: 0;
    left: 0;
}

a.btn-border-shadow--color {
    border-radius: 0;
    background: #FBB126;
}

a.btn-border-shadow--color:before {
    border-radius: 0;
}

/* パンくずリストの記述 */
.breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 10px;
    margin-bottom: 50px;
}

.breadcrumb span {
    /* .breadcrumb li { */
    position: relative;
    display: inline-block;
    /*横に並ぶように*/
    list-style: none;
    font-weight: bold;
    /*太字*/
    margin-right: 0.3em;
    /* margin-leftを追加して左右対称にしました */
    /* 子孫要素か子要素かを指定してください */
    margin-left: 0.3em;
}

/* 不必要かもしれません */
/* breadcrumbクラスの子孫の最後の子要素ではないaタグの末尾にコンテンツを生成しています */
/* .breadcrumb span:not(:last-child)::after { */
/* .breadcrumb li:after { */
/* content: "";
    position: absolute;
    top: 7px;
    right: -19px;
    border-style: solid;
    border-color: transparent;
    border-left-color: #feebcc;
    border-width: 7px 12px;
    width: 0;
    height: 0;
} */

.breadcrumb span {
    /* .breadcrumb li a { */
    display: inline-block;
    padding: 0 7px;
    height: 28px;
    line-height: 28px;
    text-decoration: none;
    color: #9b9b9b;
    background: #feebcc;
    /* 文字が小さいと思いました */
    /* font-size: 13px; */
    border-radius: 20px;
    transition: 0.3s;
}

/* あんまりよくなかったのでコメントアウトしました */
/* .breadcrumb span a:hover { */
/* .breadcrumb li a:hover { */
/* transform: translateY(-3px); */
/* } */

/* パンくずリスト(PC) */
@media screen and (min-width:770px) {
    .breadcrumb {
        font-size: 16px;
    }
}

/* SP・TBでパンくず非表示 2022.10.19 aka */
@media screen and (max-width:900px) {
    .breadcrumb {
        display: none;
    }
}

/* お気に入りページで何も無いときの画像 */
.img-none {
    margin: 0 auto;
    width: 320px;
    height: auto;
}

/* お気に入りページで何も無いときのテキスト */
.txt-none {
    text-align: center;
    margin: 20px 0px 0px 0px;
    font-size: 24px;
    /* 文字サイズ指定 */
}

li {
    list-style: none;
}

/* =================================== */
/* 紹介カード トップコラムメーカー使用*/
/* ==================================== */

a {
    text-decoration: none;
}

.box_intro img {
    width: 100%;
    height: 140px;
    text-align: center;
    border-radius: 10px;
    object-fit: cover;
}

.box_intro {
    background-color: #EEEEF1;
    color: black;
    font-size: 1.6rem;
    box-shadow: 5px 5px #9b9b9c;
    padding: 15px;
    text-align: centert;
    border-radius: 8px;
    line-height: 30px;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
    /* おまけ用 */
    border: 2px solid #9b9b9c;
    width: 300px;
    height: 400px;
}

/* タイトル */

.intro_sbtitle {
    height: 60px;
    border-bottom: solid #9b9b9c;
    font-size: 1.8rem;
    font-weight: 200;
    display: grid;
    place-content: center;
    margin: 0;
    text-align: center;
}

.box_intro p {
    margin-top: 5px;
}

.box_intro:hover {
    transform: translate(5px, 5px);
    box-shadow: none;
    transition: all 0.2s;
}

/* ============================ */
/* 商品一覧、エリア一覧以外の商品カード */
/* ============================ */

a {
    text-decoration: none;
}

/* .box_syohin img {
    width: 100%;
    height: 140px;
    text-align: center;
    border-radius: 10px;
    object-fit: cover;
}

.box_syohin {
    background-color: #b5ec91;
    color: black;
    font-size: 2rem;
    box-shadow: 5px 5px 0 #9e9d9c;
    padding: 16px;
    text-align: centert;
    border-radius: 8px;
    line-height: 30px;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
    border: 2px solid #342201;
    transition: 0.6s;
    width: 300px;
    height: 400px;
} */

/* 商品名 */

.box_syohin img {
    width: 320px;
    height: 240px;
    border-radius: 8px 8px 0 0;
    vertical-align: bottom;
}

.name_syokuhin {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    border-radius: 5px;
    /* width: 250px; */
    height: 40px;
    font-weight: bold;
    border: 2px dashed #000000;
    transition: 0.3s;
    background-color: #fbb126;
    margin: 0 auto;
}

.name_syokuhin:hover {
    opacity: .5;
}

.box_syohin {
    border: solid #fbb126;
    border-radius: 10px;
    cursor: pointer;
    width: 320px;

}

.card_syokuhin p {
    margin: 0.3em 0;
    text-align: left;
    color: #000;
}

.card_syokuhin {
    padding: 0 10px;
}

/* ==================== */
/* レシピ */
/* ==================== */

.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.list li {
    width: 100%;
    max-width: calc(33.33333% - 10px);
    /* max-width: 320px; */
    min-width: 300px;
    height: auto;
    margin: 0 auto;
    opacity: 1;
    transition: all .4s ease 0s;
    /* margin-bottom: 40px; */
    border-radius: 10px;
}

.recipe_box {
    width: 100%;
    margin: 0 auto;
    max-width: 320px;
    min-width: 300px;
    background-color: #EEEEF1;
    color: black;
    font-size: 2rem;
    box-shadow: 5px 5px 0px #9e9d9c;
    padding: 16px;
    text-align: centert;
    border-radius: 8px;
    line-height: 30px;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
    border: 2px solid #342201;
    transition: 0.6s;
}

.recipe_box p {
    width: 98%;
    height: 6rem;
    margin: 10px;
    padding: 5px;
    text-align: left;
}

.recipe_box img {
    height: 250px;
    object-fit: fill;
}

.img-fluid {
    width: 100%;
    height: auto;
}
