@charset "utf-8";

.explanation_fv {
    margin: 0 auto;
    margin-bottom: 100px;
    max-width: 600px;
}

.ttl_box_fv {
    width: fit-content;
    margin: 0 auto;

}

.ttl_box_fv h3 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    background-image: linear-gradient(90deg, #b2d5de 0 25%, #ddcfb3 25% 50%, #b3ddb4 50% 75%, #ddbab3 75%);
    background-repeat: no-repeat;
    background-size: 100% 0.8rem;
    width: fit-content;
    background-position: bottom;
    padding-bottom: 10px;
}

.favorite_box {
    border: 3px solid darkorange;
    border-radius: 20px;
    width: 300px;
    height: 250px;
    margin: 0 auto;
}

.favorite_box p {
    margin: 10px;
}

.favorite_box img {
    border-radius: 18px 18px 0 0;
}

hr {
    border-top: 3px solid #000;
    margin: 100px 0 80px;
}
