@charset "utf-8";

.explanation_fv {
    margin-bottom: 100px;
}

.ttl_box_fv h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

.favorite_box {
    border: 3px solid darkorange;
    border-radius: 20px;
    width: 300px;
    height: 250px;
    margin: 0 auto;
}

.favorite_box p {
    margin: 10px;
}

.favorite_box img {
    border-radius: 18px 18px 0 0;
}
