@charset "UTF-8";

footer {
    width: 100%;
    margin: 0 auto;
    background-color: #93b4df;
    /* margin-top: 100px auto; */
    text-align: center;
    background: url('../images/footer.png') repeat center center;
    background-size: contain;
    padding-top: 40px;
}

@media screen and (max-width: 768px) {
    footer {
        background: url('../images/footer.png') no-repeat center center;
        background-size: cover;
    }
}

.footer_container {
    width: 80%;
    margin: 0px auto;
    padding: 20px;
    display: inline-block;
}

.footer_nav {
    text-align: left;
    /* line-height: 200%; */
}

.footer_nav li {
    margin: 20px auto;
}

.footer_nav a {
    font-size: 1.6rem;
}

@media(width>=700px) {
    .footer_container {
        display: flex;
        justify-content: center;
    }

    .footer_nav {
        padding: 20px 50px;
    }
}

.f-copy {
    text-align: center;
    background-color: #171B39;
    color: white;
    padding: 10px 0;
    letter-spacing: 1px;
    text-align: center;
}

/* トップに戻る */
#page-top {
    position: fixed;
    bottom: 80px;
    right: 10px;
    width: 8%;
    max-width: 60px;
    min-width: 50px;
    z-index: 10;
}

#page-top img {
    width: 100%;
    margin: 0 auto;
    /* max-width: 100px;
    min-width: 80px;
    z-index: 500; */
}

@media(width>=700px) {
    #page-top {
        position: fixed;
        bottom: 80px;
        right: 50px;
        width: 5%;
        max-width: 80px;
    }
}

/* トップに戻る文字 */
#page-top a {
    text-decoration: none;
    color: #fff;
    /* width: 80%;
    height: 80%; */
    display: block;
    opacity: 0.9;
    transition: all .6s ease;
}

/* 以下すだちくんの設定 */
/*＝＝＝豆知識＝＝＝ */

/* すだちくんの見た目・配置 */
.sudachi {
    width: 90px;
    position: fixed;
    left: 15px;
    bottom: 200px;
    z-index: 5;
    cursor: pointer;
    margin-left: -45px;
    rotate: 60deg;
    background-color: none;
    transition: all 1s;
    animation: fadein 2s ease-out forwards;
}

.sudachi.is-active {
    margin-left: 0;
    rotate: 0deg;
    left: 0;
}

/* PC幅 */
@media screen and (min-width: 1023px) {
    .sudachi {
        width: 150px;
        position: fixed;
        left: -10px;
        bottom: 150px;
        z-index: 5;
        cursor: pointer;
        rotate: 60deg;
        background-color: none;
        /* animation: fadein 2s ease-out forwards; */
    }
}

/* 吹き出しの画像 */
.sudachi_commentbox {
    position: fixed;
    bottom: 285px;
    left: 80px;
    width: 280px;
    z-index: 5;
    -webkit-animation: 5s fukidashi_animation steps(1, start) infinite;
    animation: 5s fukidashi_animation steps(1, start) infinite;
}

/* PC幅 */
@media screen and (min-width: 1023px) {
    .sudachi_commentbox {
        position: fixed;
        /* 位置 */
        left: 150px;
        bottom: 280px;
        z-index: 5;
        -webkit-animation: 5s fukidashi_animation steps(1, start) infinite;
        animation: 5s fukidashi_animation steps(1, start) infinite;
    }
}

/* すだちくんのセリフ */
.sudachi_comment {
    font-size: 14px;
    font-weight: bold;
    position: fixed;
    left: 115px;
    bottom: 375px;
    z-index: 6;
    text-align: center;
    color: #3E3A39;
    width: 200px;
    word-wrap: break-word;
}

/* PC幅 */
@media screen and (min-width: 1023px) {
    .sudachi_comment {
        font-size: 14px;
        font-weight: bold;
        position: fixed;
        left: 185px;
        bottom: 370px;
        z-index: 6;
        text-align: center;
        color: #3E3A39;
        line-height: 1.3;
        width: 200px;
        word-wrap: break-word;
    }
}

/* 吹き出しとセリフのセット */
.sudachi_commentset {
    display: none;
    transition: 0.5s;
}

.sudachi_commentset.is-active {
    display: block;
    animation: appear 0.5s ease;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* 吹き出しカタカタ */
@-webkit-keyframes fukidashi_animation {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    10% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    20% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    30% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    40% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    50% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@keyframes fukidashi_animation {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    10% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    20% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    30% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    40% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    50% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

.fukidashiAnimation {
    -webkit-animation: 5s fukidashi_animation steps(1, start) infinite;
    animation: 5s fukidashi_animation steps(1, start) infinite;
}

.fukidashiAnimation--delay {
    -webkit-animation: 5s fukidashi_animation 2s steps(1, start) infinite;
    animation: 5s fukidashi_animation 2s steps(1, start) infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.container {
    overflow: hidden;
}

.footer-wrapper {
    width: 100%;
}

.footer-wrapper img {
    width: 100%;
    /* height: 100px; */
    object-fit: contain;
}
