@charset "UTF-8";

/* トップに戻る     */
#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 14px;
    line-height: 1;
    z-index: 99;

}

/* トップに戻る　文字 */
#page-top a {
    background: #0f31f1;
    text-decoration: none;
    color: #fff;
    width: 60px;
    height: 60px;
    padding: 15px 5px;
    text-align: center;
    display: block;
    border-radius: 50%;
    opacity: 0.9;
    transition: all .6s ease;
}

#page-top a:hover {
    letter-spacing: .3rem;
    box-shadow: 5px 5px 50px yellow;
}
