@charset "UTF-8";

footer {
    width: 100%;
    margin: 0 auto;
    background-color: #93b4df;
    /* margin-top: 100px auto; */
    text-align: center;

}

.footer_container {
    width: 80%;
    margin: 0px auto;
    padding: 20px;
    display: inline-block;
}

.footer_nav {
    text-align: left;
    /* line-height: 200%; */
}

.footer_nav li {
    margin: 20px auto;
}

.footer_nav a {
    font-size: 1.6rem;
}

@media(width>=700px) {
    .footer_container {
        display: flex;
        justify-content: center;
    }

    .footer_nav {
        padding: 20px 50px;
    }
}

.f-copy {
    text-align: center;
    background-color: #171B39;
    color: white;
    padding: 10px 0;
    letter-spacing: 1px;
    text-align: center;
}

/* トップに戻る */
#page-top {
    position: fixed;
    bottom: 80px;
    right: 10px;
    width: 8%;
    max-width: 60px;
    min-width: 50px;
    z-index: 10;
}

#page-top img {
    width: 100%;
    margin: 0 auto;
    /* max-width: 100px;
    min-width: 80px;
    z-index: 500; */
}

@media(width>=700px) {
    #page-top {
        position: fixed;
        bottom: 80px;
        right: 50px;
        width: 5%;
        max-width: 80px;
    }
}

/* トップに戻る文字 */
#page-top a {
    text-decoration: none;
    color: #fff;
    /* width: 80%;
    height: 80%; */
    display: block;
    opacity: 0.9;
    transition: all .6s ease;
}
