/* ページングで表示するコンテンツのスタイル
 初期表示は非表示 */
.page_list li {
    display: none;
    padding: 20px 0;
    border-bottom: 1px solid #000;
    max-width: 320px;
}

/* onクラス添付で画面に表示 */
.page_list li.on {
    display: block;
}

/* ページネーションの現在のページに「.active」クラスを付与して色を変える */

.pagination .number>a.active {
    background-color: #1597CC;
    color: #fff;
}

/* ココから先は見た目のスタイルなのであまり重要ではありません。
　　自由にデザインなど変更して貰えればと思います。 */

.page_list {
    border-top: 1px solid #000;
    margin-bottom: 20px;
}

.page_list p {
    margin: 0.3em 0;
}

.pagination {
    width: 70%;
    margin: 0 auto 50px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.pagination .number {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}

.pagination a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #ffffff;
    border: solid 1px #1597CC;
    border-radius: 5px;
    padding: 10px 0;
}

.img-fluid {
    width: 320px;
    height: 240px;
}

.img-fluid li {
    letter-spacing: -1em;
}

.img-fluid li {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #FF9900;
}

/* ジャンル検索ボタン */
.btn-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 0 80px;
}

.btn-content li {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #555555;
    font-size: 18px;
    border-radius: 20px;
    width: 300px;
    height: 40px;
    font-weight: bold;
    border: 2px solid #555555;
    transition: 0.3s;
    box-shadow: 0px 6px 0px -2px rgba(67, 145, 209, 1);
    background-color: #f7eb99;
}

.btn-content li:hover {
    box-shadow: 0 0 #fff;
    transform: translateY(1px);
}



/*以下変更 byぎみ
 ページングで表示するコンテンツのスタイル
 初期表示は非表示 */

.page_list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px 5px;
    padding-left: 0;
    /* ulのユーザーエージェントスタイル打消し */
}

body {
    max-width: 1024px;
    margin: 0 auto;
    padding: 100px 0;
}

/* 商品名のボタン */
#goods {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    border-radius: 5px;
    width: 250px;
    height: 40px;
    font-weight: bold;
    border: 2px dashed #000000;
    transition: 0.3s;
    background-color: #fbb126;
    cursor: pointer;
}

#goods:hover {
    opacity: .5;
}

.breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumb li {
    position: relative;
    display: inline-block;
    /*横に並ぶように*/
    list-style: none;
    font-weight: bold;
    /*太字*/
    margin-right: 0.3em;
}

.breadcrumb li:after {
    content: "";
    position: absolute;
    top: 7px;
    right: -19px;
    border-style: solid;
    border-color: transparent;
    border-left-color: #feebcc;
    border-width: 7px 12px;
    width: 0;
    height: 0;
}

.breadcrumb li a {
    display: inline-block;
    padding: 0 7px;
    height: 28px;
    line-height: 28px;
    text-decoration: none;
    color: #9b9b9b;
    background: #feebcc;
    font-size: 13px;
    border-radius: 20px;
    transition: 0.3s;
}

.breadcrumb li a:hover {
    transform: translateY(-3px);
}
