@charset "UTF-8";

/* .inner_gs {
    padding-left: 20px;
    padding-right: 20px;
} */


.tittle_goods_single {
    margin: 0 auto;
    width: fit-content;
    /* margin-top: 60px; */
    margin-bottom: 30px;
}

/* 画像とテーブルのフレックス */
/* @media screen and (min-width: 770px) {
    .goods_si_flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .goods_pic {
            width: 50%;
        }

        .goods_table {
            width: 45%;
        }

    }
} */

.goods_pic {
    margin-bottom: 30px;
}

/* プラグインのメディアクエリ */
@media screen and (min-width:900px) {
    .fav_plugins_pc {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        gap: 10px;
        position: absolute;
        right: 100px;
    }

    .fav_plugins_sp {
        display: none;
    }
}

/* 企業詳細のテーブル */
.goods_table {
    width: 100%;
    font-size: 1.6rem;
    margin: 0 auto;
}

.goods_table tr {
    border-bottom: solid 1px black;

}

.goods_table {
    padding: 10px;
}

.goods_table th {
    font-size: 1.8rem;
    width: 100px;
    vertical-align: middle;
    /* アレルギーで改行する */
}

.goods_table td {
    font-weight: 600;
    vertical-align: middle;
}

/*
.goods_si_flex {
    margin-bottom: 60px;
} */

/* 備考欄（要らないなら消す） */
.memo_gs p,
.memo_gs a {
    background-color: bisque;
    padding: 10px;
    border-radius: 10px;
}

.memo_gs h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    margin-left: 10px;
}

.memo_gs {
    margin-bottom: 30px;
}

.memo_gs a {
    font-size: 1.8rem;
}

/* 商品名のボタン */

#goods {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #000000;
    font-size: 1.8rem;
    border-radius: 5px;
    /* width: 250px; */
    height: 6rem;
    font-weight: bold;
    border: 2px dashed #000000;
    transition: 0.3s;
    background-color: #fbb126;
}

#goods:hover {
    opacity: .5;
}

.box_otomo {
    border: solid #fbb126;
    border-radius: 10px;
    cursor: pointer;

}

.card_goods {
    padding: 10px 20px;
    text-align: center;
    /* 12/4グッズカード型地域、分類中央寄せ追記山口 */
}

/* ジャンル検索ボタン */
.btn-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px 0px 40px;
}

.btn-content li {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #555555;
    font-size: 18px;
    border-radius: 20px;

    /* width: 300px; */
    /* パンくずのメディアクエリと合わせるために変更してみました。 */
    width: 290px;

    height: 40px;
    font-weight: bold;
    border: 2px solid #555555;
    transition: 0.3s;
    box-shadow: 0px 6px 0px -2px rgba(67, 145, 209, 1);
    background-color: #f7eb99;

    margin: 0px 5px 10px;
    /* marginを適当に書いてみました。 */

}

.btn-content li:hover {
    box-shadow: 0 0 #fff;
    transform: translateY(1px);
}

/* 検索結果の改行 */
.br-sp {
    display: none;
}

@media(width<=500px) {
    .br-sp {
        display: inline-block;
    }
}

/* エリア検索の結果表示バー */
/* エリア名 */
.area_box {
    text-align: center;
    background-color: #AD2628;
    padding: 5px;
    border-radius: 20px;
    color: #EEEEF1;
    margin-bottom: 30px;
    font-size: 24px;
}

@media(width>=700px) {
    .btn-content {
        margin: 50px 0 80px;
    }

    .area_box {
        margin-bottom: 50px;
    }

}



/* 商品のイメージの大きさほか */

.img-L {
    float: left;
    margin-right: 20px;
    width: 640px;
    height: 480px;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

.last-update {
    margin: 5px 0 20px;
}

.conetnt {
    margin: 20px 0;
}

/* ページネーション */

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/* ページングで表示するコンテンツのスタイル
 初期表示は非表示 */
.page_list li {
    /* display: none; */
    padding: 20px 0;
    /* border-bottom: 1px solid #000; */
    max-width: 320px;
}

/* onクラス添付で画面に表示 */
/* .page_list li.on { */
/* display: block; */
/* } */



/* ココから先は見た目のスタイルなのであまり重要ではありません。
　　自由にデザインなど変更して貰えればと思います。 */

.page_list {
    /* border-top: 1px solid #000; */
    margin-bottom: 20px;
}

.page_list p {
    margin: 0.3em 0;
}


/* .img-fluid {
    width: 320px;
    height: 240px;
    border-radius: 8px 8px 0 0;
}

.img-fluid li {
    letter-spacing: -1em;
}

.img-fluid li {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #FF9900;
} */

/*以下変更 byぎみ
 ページングで表示するコンテンツのスタイル
 初期表示は非表示 */

.page_list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px 5px;
    padding-left: 0;
    /* ulのユーザーエージェントスタイル打消し */
}

.page_list {
    /* border-top: 1px solid #000; */
    margin-bottom: 20px;
}

.page_list li {
    /* display: none; */
    padding: 20px 0;
    /* border-bottom: 1px solid #000; */
}

/* .page_list li.on {
    display: block;
} */

.box_maker {
    padding-bottom: 30px;
}

/* area */
/* お供の一覧表示 */
.list_displayed_ot {
    text-align: center;
}

/* キャラの基本設定 */
.layer-in img {
    width: 100px;
    height: auto;
}

@media screen and (min-width:768px) {
    .layer-in {
        position: absolute;
        top: 0px;
        right: -70px;
        z-index: -1;
    }

    /* キャラの基本設定 */
    .layer-in img {
        width: 700px;
        height: auto;
        opacity: 0.2;
    }
}



/* メーカーと共通 */
.catchphrase {
    width: 100%;
    margin: 20px auto;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
    text-align: center;
}


@media screen and (min-width: 770px) {
    .flex_oneword {
        display: flex;
        justify-content: space-around;
        /* gap: 60px; */
    }
}

.flex_oneword {
    margin-top: 80px;
    /* text-align: center; */
    /* 画像の真ん中寄せ */
    /* 12/6コメントアウト山口 */
}

.oneword h3 {
    border-left: solid 10px LightSkyBlue;
    font-weight: 600;
    margin: 20px;
    text-align: left;
    /* 画像でセンターにしたのを解除 */
}

.oneword p {
    text-align: left;
    /* 画像でセンターにしたのを解除 */
}

.oneword h3 span {
    font-size: 2.5rem;
    padding-left: 10px;
}

.flex_oneword img {
    max-width: 500px;
}

.info {
    margin: 40px auto;
}

/* 備考欄 */
.info p {
    border-radius: 10px;
}

.info-company {
    /* width: 100%; */
    margin: 20px;
    padding: 20px;
    border: 2px olive dotted;
    border-radius: 10px;
    font-size: 1.8rem;
    line-height: 3rem;
}

@media screen and (min-width:678px) {
    .info-company {
        margin: 60px auto 40px;
    }
}

.info table {
    width: 100%;
    margin: 20px auto;
    font-size: 1.6rem;
    border: 2px olive dotted;
    /* border-collapse: collapse; */
    border-radius: 10px;
    border-collapse: separate;
    /* 枠線をセルごとに独立 */
    border-spacing: 0;
    /* セル間の余白をなくす */
    overflow: hidden;
    /* 角からはみ出す内容を隠す */
}

.info th {
    width: 20%;
    min-width: 120px;
    max-width: 300px;
    background-color: blanchedalmond;
    text-align: center;
}

.info th,
.info td {
    border: 1px dotted olive;
    padding: 15px;
}

@media screen and (max-width: 600px) {

    .info th,
    .info td {
        display: block;
        /* 各セルをブロック要素に */
        width: 100%;
        /* 幅をテーブル全体に揃える */
        max-width: none;
    }
}

.rcmd_good {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.rcmd_b3 {
    font-size: 2rem;
    /* margin-top: 80px; */
    /* margin-bottom: 30px; */
    margin: 50px auto 30px;
    /* 中央寄せ山口追記 */
    border-bottom: dotted 5px DarkOrange;
    ;
    width: fit-content;
}

.rcmd_b3 span {
    margin-bottom: 5px;
    display: inline-block;
}

img {
    height: auto;
    width: 100%;
}

.goods_pic {
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 900px) {
    .goods_pic {
        width: 60%;
    }
}

.box_otomo img {
    /* height: 250px; */
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
