@charset "UTF-8";

.kv {
    width: 100%;
    height: 50vh;
    background-image: url(../../uploads/header-designkanpu.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
}

.kv-copy {
    color: #fff;
    text-shadow: 0 4px 4px #00000040;
    font-size: 3.2rem;
    line-height: 2;
    position: absolute;
    top: 50%;
    z-index: 1;
    letter-spacing: 0.5;
    transform: translateY(-50%);
}

.header-area {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 120px;
    margin: 20px 0 auto;
}

.logo img {
    width: 150px;
    height: 75px;
    margin: 0 0 20px 0;
}

@media (width>=700px) {
    .sp-none {
        display: block;
    }

    .pc-none {
        display: none;
    }
}

/* 画面に出ているはみ出たメニューを隠す */
body {
    overflow-x: hidden;
}

/*---- ---------------------------- */
/*---- ハンバーガーメニューの指示---- */
/*---- --------------------------- */


.hamburger {
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 20px;
    text-align: center;

}

.hamburger span {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: blue;
    z-index: 100;
}

.hamburger span:first-of-type {
    /* ハンバーガーメニューの1番目の線 */
    top: 0;
}

.hamburger span:nth-of-type(2) {
    /* ハンバーガーメニューの2番目の線 */
    top: 50%;
}

.hamburger span:last-of-type {
    /* ハンバーガーメニューの3番目の線 */
    top: 100%;
}

.slide-menu {
    background-color: rgba(214, 159, 41, 0.8);
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    left: 0;
    transform: translateX(100%);
    /* X軸は縦軸　100％で画面右側 height: 100vh;　※-100％で画面左側 */
    transition: .5s;
}

.slide-menu li {
    color: #fff;
    line-height: 400%;
    text-align: center;
    font-size: 3rem;
    font-family: "Playwrite AU VIC", cursive;
}

/* ハンバーガーを×にする */
.hamburger.active span:first-of-type {
    /* ハンバーガーメニューの1番目の線 */
    top: 50%;
    transform: rotate(45deg);
}

/* 透明にする */
/* ハンバーガーメニューの2番目の線 */
.hamburger.active span:nth-of-type(2) {
    opacity: 0;
}

.hamburger.active span:last-of-type {
    /* ハンバーガーメニューの3番目の線 */
    top: 50%;
    transform: rotate(-45deg);
}

/* メニューを出す */
.slide-menu.active {
    transform: translateX(0);
}
