@charset "UTF-8";

.kv {
    width: 100%;
    height: 50vh;
    background-image: url(../../uploads/header-designkanpu.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
}

.kv-copy {
    color: #fff;
    text-shadow: 0 4px 4px #00000040;
    font-size: 3.2rem;
    line-height: 2;
    position: absolute;
    top: 50%;
    z-index: 1;
    letter-spacing: 0.5;
    transform: translateY(-50%);
}

/* logoとsp用ドロワーメニューをflexで横並び */
.header-inner {
    max-width: 1024px;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 20px auto 0;
}

.title-logo {
    position: absolute;
    margin-top: 20px;
    right: 50%;
    transform: translateX(75px);
}

.title-logo img {
    width: 120px;
    height: 76px;
}

.nav-sp-logo img {
    width: 120px;
    /* height: 76px; */
}

.nav-sp-icon img {
    width: 40px;
    height: 40px;
}

.title-logo img:hover {
    opacity: 0.6;
}


.pcnav {
    display: none;
}

@media screen and (min-width:700px) {
    .pcnav {
        display: block;
    }

    .spnav {
        display: none;
    }
}

/* sp用メニューの装飾 */
nav.nav-sp {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    color: #000;
    font-size: 16px;
    letter-spacing: 0.7;
}


/* ドロワーメニューの装飾 */
.nav-sp-drawr {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    z-index: 100;
    margin-right: 20px;
}

.fix-nav-sp {
    position: fixed;
    top: -20px;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
}

.fix-hamburger {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1000;
    padding: 0;
    text-align: center;
}

.nav-sp-menu {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: block;
    background-color: #f8f3e0;
}

.nav-sp-menu a {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.nav-sp-logo {
    display: block;
    margin: 0 auto;
}

.nav-sp-icon {
    width: 60px;
    margin-left: 30px;
    margin-right: 80px;
}

.nav-sp-drawr span {
    position: absolute;
    left: 8px;
    width: 60%;
    display: block;
    height: 2px;
    background-color: #FFC24B;
    border-radius: 4px;
    transition: all 0.3s;
    color: #f8f3e0;
}

/* バーガー３本*/
.nav-sp-drawr span:nth-of-type(1) {
    top: 24px;
}

.nav-sp-drawr span:nth-of-type(2) {
    top: 40px;
}

.nav-sp-drawr span:nth-of-type(3) {
    bottom: 6px;
}


/* バーガー３本*/
.nav-sp-drawr.is-active span:nth-of-type(1) {
    transform: translateY(-4px) rotate(-45deg);
}

.nav-sp-drawr.is-active span:nth-of-type(2) {
    opacity: 0;
}

.nav-sp-drawr.is-active span:nth-of-type(3) {
    transform: translateY(-12px) rotate(45deg);
}

/* sp用メニュー閉じている状態 */
nav.nav-sp.is-active {
    transform: translate(0);
    z-index: 10;
    padding: 0;
}

/* sp用メニュー開いている状態 */
nav.nav-sp {
    /* z-index: 1; */
    transform: translate(100%);
    transition: all 0.5s ease-out;
}

nav.nav-pc {
    display: none;
}

@media screen and (min-width:700px) {

    nav.nav-sp,
    .nav-sp-drawr {
        display: none;
    }

    nav.nav-pc {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .header-container {
        max-width: 1024px;
        height: 150px;
        margin: 0 auto;
        padding: 0 20px;
        background-color: #dbb62e;

    }

    .header-container img {
        width: 60px;
        gap: 15px;
    }

    .fixed {
        position: fixed;
        top: -30px;
        left: 0;
        /* padding-top: 10px; */
        padding-bottom: 10px;
        margin: 0 auto;
        opacity: 1.0;
        z-index: 900;
        background-color: #fff;
    }

    .title-logo {
        width: 70px;
        position: absolute;
        z-index: 9999;
        right: 50%;
        margin-top: 10px;
        transform: translateX(75px);
    }

    .fixed-logo {
        position: fixed;
        top: 3px;
    }

    .titile_logo {
        display: inline;
    }

    nav.nav-pc ul {
        display: flex;
        /* align-items: flex-end; */
        justify-content: space-between;
        margin-bottom: 0;
    }



    nav.nav-pc .nav01 a::before {
        content: "";
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: url(../../uploads/gohan_sample.png);
        background-size: contain;
        vertical-align: middle;
    }

    nav.nav-pc .nav02 a::before {
        content: "";
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: url(../../uploads/gohan_sample.png);
        background-size: contain;
        vertical-align: middle;
    }

    nav.nav-pc .nav03 a::before {
        content: "";
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: url(../../uploads/gohan_sample.png);
        background-size: contain;
        vertical-align: middle;
    }

    nav.nav-pc .nav04 a::before {
        content: "";
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: url(../../uploads/gohan_sample.png);
        background-size: contain;
        vertical-align: middle;
    }

    nav.nav-pc .nav05 a::before {
        content: "";
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: url(../../uploads/gohan_sample.png);
        background-size: contain;
        vertical-align: middle;
    }

    nav.nav-pc .nav06 a::before {
        content: "";
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: url(../../uploads/gohan_sample.png);
        background-size: contain;
        vertical-align: middle;
    }

    nav.nav-pc .nav07 a::before {
        content: "";
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: url(../../uploads/gohan_sample.png);
        background-size: contain;
        vertical-align: middle;
    }


    nav.nav-pc li span {
        display: block;
        font-size: 12px;
        margin-top: 0.1rem;
    }

    nav.nav-pc li a:hover:before {
        margin-bottom: 5px;
    }

    nav.nav-pc li a:hover {
        opacity: 0.7;
    }
}
