@charset "utf-8";

/* タイトル枠 */
.ttl_box {
    text-decoration: underline dotted 5px DarkOrange;
    text-align: center;
    margin-bottom: 32px;
}

.ttl_box span {
    display: inline-block;
}

/* ジャンル検索ボタン */
.btn-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px 0 30px;
}

.btn-content li {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;

    color: #171B39;

    color: #555555;

    font-size: 18px;
    border-radius: 20px;
    width: 300px;
    height: 40px;
    font-weight: bold;
    border: 2px solid #555555;
    transition: 0.3s;
    box-shadow: 0px 6px 0px -2px rgba(67, 145, 209, 1);
    background-color: #f7eb99;
}

.btn-content li:hover {
    box-shadow: 0 0 #fff;
    transform: translateY(1px);
}

/* エリア名 */
.area_box {
    text-align: center;
    background-color: #AD2628;
    padding: 5px;
    border-radius: 20px;
    color: #EEEEF1;
    margin-bottom: 30px;
}

/* カード */

a {
    text-decoration: none;
}

/* 写真 */

.maker_list img {
    width: 100%;
    height: 140px;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 10px;
    object-fit: cover;
}

/* コラムタイトル */
.maker_list h3 {
    /* 20px */
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 20px;
    border-bottom: dashed 2px blue;
}

/* コラムの枠 */
.box_maker {
    background-color: #EEEEF1;
    color: black;
    font-size: 2rem;
    box-shadow: 5px 5px 0 #9e9d9c;
    /* width: 100%; */
    padding: 20px 16px;
    text-align: centert;
    border-radius: 8px;
    line-height: 30px;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
    /* おまけ用 */
    border: 2px solid #342201;
    transition: 0.6s;
    width: 300px;
    height: 400px;
}


/* おまけ */

.maker_list a:hover {
    background-color: #F7EB99;
    color: #fff;
    /* border: 2px solid #3FA9F5; */
}

.maker_list a:hover {
    background-color: #FBB126;
    color: #fff;
}

.maker_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* もっと見るボタンで隠れていたカードが１行出る */

.container {
    width: 100%;
    /* max-width: 480px; */
    margin: 0 auto;
}

.list {
    flex-wrap: wrap;
    margin: 40px -20px 0;
    display: flex;
}

.list li {
    box-sizing: border-box;
    margin: 0 10px 20px;
    text-align: center;
    /* background: #C5CAE9; */
    padding: 10px;
    opacity: 1;
    height: auto;
    flex-basis: calc(33.33333% - 20px);
    max-width: calc(33.33333% - 20px);
    transition: all .4s ease 0s;
    overflow: hidden;
}

.list li.is-hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    margin: 0 10px;
    padding: 0;
}

.more {
    text-align: center;
    margin-top: 20px;
}
