@charset "utf-8";

/* タイトル枠 */
.ttl_box {
    text-decoration: underline dotted 5px DarkOrange;
    text-align: center;
    margin-bottom: 32px;
}

.ttl_box span {
    display: inline-block;
}

/* ジャンル検索ボタン */
.btn-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px 0 40px;
}

.btn-content li {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #171B39;
    color: #555555;
    font-size: 18px;
    border-radius: 20px;
    width: 300px;
    height: 40px;
    font-weight: bold;
    border: 2px solid #555555;
    transition: 0.3s;
    box-shadow: 0px 6px 0px -2px rgba(67, 145, 209, 1);
    background-color: #f7eb99;
    margin: 0px 5px 10px;
}

.btn-content li:hover {
    box-shadow: 0 0 #fff;
    transform: translateY(1px);
}


/* エリア名 */
.area_box {
    text-align: center;
    background-color: #AD2628;
    padding: 5px;
    border-radius: 20px;
    color: #EEEEF1;
    margin-bottom: 30px;
    font-size: 24px;
}


/* tablet,pc */

@media(width>=700px) {
    .btn-content {
        margin: 50px 0 80px;
    }

    .area_box {
        margin-bottom: 50px;
    }

}

.maker_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

/* メーカー個別ページ */

/* 企業名 */
.tittle_ms {
    margin: 50px;
    font-weight: 600;
    border-bottom: dotted 5px DarkOrange;
    ;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 50px;
}

.tittle_ms span {
    display: inline-block;
    margin-bottom: 5px;
}

img {
    height: auto;
    width: 100%;
}

.inner_ms {
    padding-left: 30px;
    padding-right: 30px;
    margin: o auto;
    margin-bottom: 30px;
}

.info {
    margin: 40px auto;
}

/* 備考欄 */
.info p {
    border-radius: 10px;
}

/* 企業さんから一言 */
@media screen and (min-width: 770px) {
    .flex_oneword {
        display: flex;
        justify-content: space-around;
        /* gap: 60px; */
    }
}

.flex_oneword {
    margin-top: 80px;
    /* text-align: center; */
    /* 画像の真ん中寄せ */
    /* 12/6コメントアウト山口 */
}

.oneword h3 {
    border-left: solid 10px LightSkyBlue;
    font-weight: 600;
    margin: 20px;
    text-align: left;
    /* 画像でセンターにしたのを解除 */
}

.oneword p {
    text-align: left;
    /* 画像でセンターにしたのを解除 */
}

.oneword h3 span {
    font-size: 2.5rem;
    padding-left: 10px;
}


/* オススメ商品 */
.rcmd_good {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.rcmd_b3 {
    font-size: 2rem;
    /* margin-top: 80px; */
    /* margin-bottom: 30px; */
    margin: 50px auto 30px;
    /* 中央寄せ山口追記 */
    border-bottom: dotted 5px DarkOrange;
    ;
    width: fit-content;
}

.rcmd_b3 span {
    margin-bottom: 5px;
    display: inline-block;
}

.flex_oneword img {
    max-width: 500px;
}

.info-company {
    /* width: 100%; */
    margin: 20px;
    padding: 20px;
    border: 2px olive dotted;
    border-radius: 10px;
    font-size: 1.8rem;
    line-height: 3rem;
}

@media screen and (min-width:678px) {
    .info-company {
        margin: 60px auto 40px;
    }
}

.catchphrase {
    width: 100%;
    margin: 20px auto;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
    text-align: center;
}

.info table {
    width: 100%;
    margin: 20px auto;
    font-size: 1.6rem;
    border: 2px olive dotted;
    /* border-collapse: collapse; */
    border-radius: 10px;
    border-collapse: separate;
    /* 枠線をセルごとに独立 */
    border-spacing: 0;
    /* セル間の余白をなくす */
    overflow: hidden;
    /* 角からはみ出す内容を隠す */
}

.info th {
    width: 20%;
    min-width: 120px;
    max-width: 300px;
    background-color: blanchedalmond;
    text-align: center;
}

.info th, .info td {
    border: 1px dotted olive;
    padding: 15px;
}

@media screen and (max-width: 600px) {
    .info th, .info td {
        display: block;
        /* 各セルをブロック要素に */
        width: 100%;
        /* 幅をテーブル全体に揃える */
        max-width: none;
    }
}

.note {
    color: red;
    font-size: 1.4rem;
}

.others {
    margin: 20px auto;
    border: 2px olive dotted;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
}
