@charset "utf-8";

.tittle_ms {
    margin: 50px;
    font-weight: 600;
    border-bottom: dotted 5px DarkOrange;
    ;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 50px;
}

.tittle_ms span {
    display: inline-block;
    margin-bottom: 5px;
}


/* slick画像 */
.container_ms {
    width: 100%;
}

.slider_ms {
    margin-bottom: 10px;
}

img {
    height: auto;
    width: 100%;
}

.slick-prev {
    transform: translateX(40px);
    z-index: 100;
    cursor: pointer;
}

.slick-next {
    transform: translateX(-40px);
    z-index: 100;
    cursor: pointer;
}

.slick-prev:before,
.slick-next:before {
    color: DimGray;
}

.thumbnail_img {
    opacity: 0.3;
    transition: opacity 0.3s linear;
    cursor: pointer;
}

.thumbnail_ms .slick-current {
    opacity: 1;
}

/* テーブル */
.table_ms {
    width: 80%;
    font-size: 1.6rem;
    margin: 0 auto;
}

.table_ms tr {
    border-bottom: solid 1px black;
}

.table_ms th,
.table_ms td {
    padding: 10px;
}

.table_ms th {
    font-size: 1.8rem;
}

.table_ms td {
    font-weight: 600;
}

.table_ms td p small {
    color: tomato;
    font-weight: normal;
}

@media screen and (min-width: 770px) {
    .flex_ms {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        gap: 10px;

        .container_ms {
            width: 50%;
        }

        .table_ms {
            width: 35%;
        }
    }
}

.inner_ms {
    padding-left: 30px;
    padding-right: 30px;
    margin: o auto;
    margin-bottom: 30px;
}

.container_ms {
    margin-bottom: 60px;
}

.memo {
    margin-top: 80px;
}

.memo h3 {
    font-size: 1.8rem;
    font-weight: 600;
}

.memo p {
    border-radius: 5px;
    padding: 20px;
    background-color: beige;
}

@media screen and (min-width: 770px) {
    .flex_oneword {
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: space-around;
        gap: 60px;
    }
}

.flex_oneword {
    margin-top: 80px;
}

.oneword h3 {
    border-left: solid 10px LightSkyBlue;
    font-weight: 600;
    margin: 20px;
}

.oneword h3 span {
    font-size: 2.5rem;
    padding-left: 10px;

}



.rcmd_good {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.rcmd_b3 {
    font-size: 2rem;
    margin-top: 80px;
    margin-bottom: 30px;
    border-bottom: dotted 5px DarkOrange;
    ;
    width: fit-content;
}

.rcmd_b3 span {
    margin-bottom: 5px;
    display: inline-block;
}

/* おススメ用に使っている共通カード */
.card-title {
    font-size: 2rem;
}
