/* .inner {
    padding: 0 15px;
} */

.qa-8 dt {
    font-size: 16px;
    margin-bottom: 1em;
    color: #333333;
    font-weight: 600;
}

.qa-8 dt::before,
.qa-8 dd::before {
    margin-right: .4em;
}

/* ・を消す　12/7佐々木 */
/* .qa-8 dt::before {
    content: "・";
} */

.qa-8 dd {
    font-size: 16px;
    margin: 0 0 2.5em;
    padding: 1em 1.5em;
    background-color: #f2f2f2;
    color: #333333;
}

/* ・を消す　12/7佐々木 */
/* .qa-8 dd::before {
    content: "・";
} */

.heading10 {
    text-align: center;
    position: relative;
    padding-top: 30px;
    font-size: 26px;
    border-bottom: 1px solid rgba(5, 62, 98, 1);
    margin-bottom: 40px;
}

.heading10 span {
    position: relative;
    z-index: 2;
}

.heading10::before {
    content: attr(data-en);
    position: absolute;
    top: 0px;
    left: 0;
    color: rgba(5, 62, 98, 0.2);
    font-size: 40px;
    text-transform: uppercase;
    z-index: 1;
}
