@charset "UTF-8";

/* ４枚つづりのslick画像 */
.container_ms {
    width: 100%;
}

.slider_ms {
    margin-bottom: 10px;
}

img {
    height: auto;
    width: 100%;
}

.slick-prev {
    transform: translateX(40px);
    z-index: 100;
    cursor: pointer;
}

.slick-next {
    transform: translateX(-40px);
    z-index: 100;
    cursor: pointer;
}

.slick-prev:before,
.slick-next:before {
    color: DimGray;
}

.thumbnail_img {
    opacity: 0.3;
    transition: opacity 0.3s linear;
    cursor: pointer;
}

.thumbnail_ms .slick-current {
    opacity: 1;
}

.ttl_rsp {
    text-align: center;
}

/* 使ったお供 */
.flex_use_goods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
