@charset "UTF-8";

.ttl_box {
    /* border: 2px solid red; */
    text-align: center;
    margin-bottom: 32px;
}

.img-fluid li {
    letter-spacing: -1em;
}

.img-fluid li {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #0a26dd;
}


/*以下変更 byぎみ
ページングで表示するコンテンツのスタイル
 初期表示は非表示 */
.list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px 5px;
    padding-left: 0;
    /* ulのユーザーエージェントスタイル打消し */
}

/* onクラス添付で画面に表示 */
/* もとにもどす */
.list li.on {
    display: block;
    max-width: 320px;
}

/* もっと見る */
.recipe_container {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.list li {
    width: 100%;
    max-width: calc(33.33333% - 10px);
    /* max-width: 320px; */
    min-width: 300px;
    height: auto;
    margin: 0 auto;
    opacity: 1;
    transition: all .4s ease 0s;
    margin-bottom: 40px;
    border-radius: 10px;
}

.list li.is-hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    margin: 0 10px;
    padding: 0;
}

.recipe_box {
    width: 100%;
    margin: 0 auto;
    /* max-width: 320px;
    min-width: 300px; */
    background-color: #EEEEF1;
    color: black;
    font-size: 2rem;
    box-shadow: 5px 5px 0px #9e9d9c;
    padding: 16px;
    text-align: centert;
    border-radius: 8px;
    line-height: 30px;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
    border: 2px solid #342201;
    transition: 0.6s;
}

.recipe_box p {
    width: 98%;
    height: 6rem;
    margin: 10px;
    padding: 5px;
    text-align: left;
}

.recipe_box img {
    height: 250px;
    object-fit: fill;
}

.more {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 60px;
}


/* レシピ詳細 */

.recipe_name img {
    width: 500px;
    height: 480px;
}

/*
border-bottom に「dotted」を指定して点線にする
*/
dt {
    width: 15%;
    border-bottom: dotted 1px #ccc;
    padding: 6px 0;
}

dd {
    width: 15%;
    border-bottom: dotted 1px #ccc;
    padding: 6px 0;
    text-align: center;
}

li {
    border-bottom: dotted 1px #ccc;
    padding: 6px 0;
    margin-left: 20px;
}

p {
    text-align: reft;
}

dt {
    float: left;
}

/* dd {
    margin-left: 300px;
} */

ol {
    font-size: 20px;
}

.recipe_info_user__comment {
    text-align: right;
    font-size: 20px;
    margin-right: 20px;
}

<<<<<<< HEAD
=======
/* .recipe_info_user {
    display: inline;
} */

>>>>>>> d9f216f23ccb26812d20f981fc431fd94f2a3e1a

.recipe_material__item:first-of-type {
    border-top: 1px solid #f2f2f2;
}

.recipe_material__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    border-bottom: 1px solid #f2f2f2;
    font-size: 20px;
    line-height: 1.5;
}
