@charset "UTF-8";

.ttl_box {
    /* border: 2px solid red; */
    text-align: center;
    margin-bottom: 32px;
}

.img-fluid li {
    letter-spacing: -1em;
}

.img-fluid li {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #0a26dd;
}


/*以下変更 byぎみ
ページングで表示するコンテンツのスタイル
 初期表示は非表示 */

.list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px 5px;
    padding-left: 0;
    /* ulのユーザーエージェントスタイル打消し */
}

/* onクラス添付で画面に表示 */
/* もとにもどす */
.list li.on {
    display: block;
    max-width: 320px;
}

body {
    max-width: 1024px;
    margin: 0 auto;
    padding: 100px 0;
}

/* もっと見る */
.recipe_container {
    width: 100%;
    margin: 0 auto 80px;
    padding: 10px;
}

.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.list li {
    width: 100%;
    max-width: calc(33.33333% - 10px);
    /* max-width: 320px; */
    min-width: 300px;
    height: auto;
    margin: 0 auto;
    opacity: 1;
    transition: all .4s ease 0s;
    overflow: hidden;
    margin-bottom: 40px;
    border-radius: 10px;
}

.list li.is-hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    margin: 0 10px;
    padding: 0;
}

.recipe_box {
    width: 100%;
    margin: 0 auto;
    /* max-width: 320px;
    min-width: 300px; */
    height: auto;
    border: 2px darkorange solid;
    border-radius: 10px;
}

.recipe_box p {
    width: 98%;
    height: 6rem;
    margin: 0 auto;
    margin: 10px;
    padding: 5px;
    text-align: left;
}

.more {
    text-align: center;
    margin-top: 20px;
}


/* レシピ詳細 */

.recipe_name img {
    width: 1024px;
    height: 480px;
}

/*
border-bottom に「dotted」を指定して点線にする
*/
/* .ingredient-list dt {
    width: 85%;
    border-bottom: dotted 1px #ccc;
    padding: 6px 0;
}

.ingredient-list dd {
    width: 15%;
    border-bottom: dotted 1px #ccc;
    padding: 6px 0;
    text-align: center;
} */

/* .flex .recipe .step-list li {
    border-bottom: dotted 1px #ccc;
    padding: 6px 0;
    margin-left: 20px;
} */

p {
    text-align: right;
}

dt {
    float: left;
}

dd {
    margin-left: 300px;
}

ol {
    font-size: 20px;

}
