@charset "UTF-8";

.ttl_box {
    /* border: 2px solid red; */
    text-align: center;
    margin-bottom: 32px;
}

.img-fluid li {
    letter-spacing: -1em;
}

.img-fluid li {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #0a26dd;
}


/*以下変更 byぎみ
ページングで表示するコンテンツのスタイル
 初期表示は非表示 */

.list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px 5px;
    padding-left: 0;
    /* ulのユーザーエージェントスタイル打消し */
}

/* onクラス添付で画面に表示 */
/* もとにもどす */
.list li.on {
    display: block;
    max-width: 320px;
}

body {
    max-width: 1024px;
    margin: 0 auto;
    padding: 100px 0;
}

/* もっと見る */
.recipe_container {
    width: 100%;
    margin: 0 auto 80px;
    padding: 10px;
}

.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.list li {
    width: 100%;
    max-width: calc(33.33333% - 10px);
    /* max-width: 320px; */
    min-width: 300px;
    height: auto;
    margin: 0 auto;
    opacity: 1;
    transition: all .4s ease 0s;
    overflow: hidden;
    margin-bottom: 40px;
    border-radius: 10px;
}

.list li.is-hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    margin: 0 10px;
    padding: 0;
}

.recipe_box {
    width: 100%;
    margin: 0 auto;
    /* max-width: 320px;
    min-width: 300px; */
    height: auto;
    border: 2px darkorange solid;
    border-radius: 10px;
}

.recipe_box p {
    width: 98%;
    height: 6rem;
    margin: 0 auto;
    margin: 10px;
    padding: 5px;
    text-align: left;
}

.more {
    text-align: center;
    margin-top: 20px;
}


/* レシピ詳細 */

.recipe_name img {
    width: 500px;
    height: 480px;
}

/*
border-bottom に「dotted」を指定して点線にする
*/
dt {
    width: 15%;
    border-bottom: dotted 1px #ccc;
    padding: 6px 0;
}

dd {
    width: 15%;
    border-bottom: dotted 1px #ccc;
    padding: 6px 0;
    text-align: center;
}

li {
    border-bottom: dotted 1px #ccc;
    padding: 6px 0;
    margin-left: 20px;
}

p {
    text-align: right;
}

dt {
    float: left;
}

/* dd {
    margin-left: 300px;
} */

ol {
    font-size: 20px;
}

/* SP・TBでパンくず非表示 */
@media screen and (max-width:1023px) {
    .breadcrumb {
        display: none;
    }
}

.recipe_material__item:first-of-type {
    border-top: 1px solid #f2f2f2;
}

.recipe_material__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    border-bottom: 1px solid #f2f2f2;
    font-size: 20px;
    line-height: 1.5;
}

/* a,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
td,
th {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

*,
::after,
::before {
    box-sizing: border-box;
    min-height: 0;
}

ユーザー エージェントのスタイル シート li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.__detail .__lst,
.__lst,
.__lst-none,
dl,
ol,
ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

ユーザー エージェントのスタイル シート ul {
    list-style-type: disc;
}

.common_line_height {
    line-height: 1.5;
}

body {
    color: #404040;
}

body {
    max-width: auto;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 100%;
    font-weight: 400;
    color: #404040;
}

body {
    line-height: 1;
}

html {
    font-size: 100%;
}

*,
::after,
::before {
    box-sizing: border-box;
    min-height: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
    min-height: 0;
} */
