@charset "UTF-8";

.ttl_box {
    /* border: 2px solid red; */
    text-align: center;
    margin-bottom: 32px;
}

/* .img-fluid li {
    letter-spacing: -1em;
} */

/* .img-fluid li {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #0a26dd;
} */


/*以下変更 byぎみ
ページングで表示するコンテンツのスタイル
 初期表示は非表示 */

.page_list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px 5px;
    padding-left: 0;
    /* ulのユーザーエージェントスタイル打消し */
}

/* onクラス添付で画面に表示 */
/* もとにもどす */
.page_list li.on {
    display: block;
    max-width: 320px;
}

body {
    max-width: 1024px;
    margin: 0 auto;
    padding: 100px 0;
}

/* もっと見る */

.container {
    width: 100%;
    /* max-width: 480px; */
    margin: 0 auto;
}

.list {
    flex-wrap: wrap;
    margin: 40px -20px 0;
    display: flex;
}

.list li {
    box-sizing: border-box;
    margin: 0 10px 20px;
    text-align: center;
    /* background: #C5CAE9; */
    padding: 10px;
    opacity: 1;
    height: auto;
    flex-basis: calc(33.33333% - 20px);
    max-width: calc(33.33333% - 20px);
    transition: all .4s ease 0s;
    overflow: hidden;
}

.list li.is-hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    margin: 0 10px;
    padding: 0;
}

.more {
    text-align: center;
    margin-top: 20px;
}


/* レシピ詳細 */

.recipe_name img {
    width: 1024px;
    height: 480px;
}

/*
border-bottom に「dotted」を指定して点線にする
*/
.flex .recipe .ingredient-list dt {
    /* width: 85%; */
    border-bottom: dotted 1px #ccc;
    padding: 6px 0;
}

.flex .recipe .ingredient-list dd {
    /* width: 15%; */
    border-bottom: dotted 1px #ccc;
    padding: 6px 0;
    text-align: center;
}

.flex .recipe .step-list li {
    border-bottom: dotted 1px #ccc;
    padding: 6px 0;
    /* margin-left: 20px; */
}
