@charset "utf-8";

/* ==================== */
/* section-base */
/* ==================== */

/* section+section {
	margin-top: 60px;
} */

/* .inner {
	max-width: 350px;
	margin: 0 auto;
} */

.ttl_box {
	/* border: 2px solid red; */
	text-align: center;

	margin-bottom: 32px;
}

.ttl_box span {
	display: inline-block;
}

.ttl_box .ttl {
	/* 28px */
	font-size: 3rem;

	font-weight: 500;
	letter-spacing: 0.1em;

	margin-bottom: 8px;
}

.ttl_box .sb-ttl {
	/* 20px */
	font-size: 2rem;
}

/* ---------- */
/* tablet */
@media(width>=700px) {
	.inner {
		max-width: 680px;
	}
}

/* ---------- */

/*Tableの設定
body {
	background: #fbf9cc url(img/bg.png) repeat-x;
} */

/* .inner_search {
	background: #F7EB99;
	margin: auto;

} */

/* .entryTable {
	margin: auto;
} */

/*リンク色の設定*/
/* a {
	color: #df4839;
}

a:hover {
	color: #ff705b;
	text-decoration: none;
} */

/*チェックボックスの設定*/
input[type="checkbox"] {
	width: 15px;
	height: 15px;
	border: 2px solid;
	border-radius: 2px;
	background-color: #fff;
	margin-left: 20px;
}

/*コンテンツ枠の設定*/
/* #contents {
	display: block;
	width: 798px;
	margin: 40px auto;
	padding: 40px 80px;
	border: 1px solid #f6bb9a;
	background-color: #fff;
} */

/*詳細検索の背景の設定*/

.check_box {
	background: #F7EB99;
	/* margin: 0 auto; */
	padding: 20px;
}

/* .search h3 {
	font-size: 1.6rem;
} */

/* .search li {
	flex-direction: row;
	font-size: 1.6rem;
	/* display: inline-block; */
	padding-right: 30px;
	line-height: 50px;
} */

/* .inner_search {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
} */


/*カーソル形状*/
label,
input {
	cursor: pointer;
}

/*ボタンの設定*/
/* .entryBtns {
	text-align: center;
} */

/*
.entryBtns input {
  width: 100px;
}
*/

/*ボタンの基本スタイル*/
/* .entryBtns input {
	width: 200px;
	margin: 0 10px;
	padding: 10px;
	background: #fff;
	border: 2px solid #f6bb9e;
	border-radius: 10px;
	font-size: 2rem;
	-webkit-appearance: none;
	margin: 0 auto;
} */

/*送信ボタン用のスタイル*/
/* .entryBtns input[type="submit"] {
	background: #fadccc;
} */

/*ボタンにマウスが乗った時*/
/* .entryBtns input:hover {
	opacity: 0.7;
} */

.inner_search {
	/* width: 290px; */
	margin: 0 auto;
	font-size: 2rem;
}

.inner_search h3 {
	/* padding-left: 20px; */
	/* チェックボックスに合わせる */
	font-weight: 600;
	text-align: center;
	margin-bottom: 10px;
}

.inner_search li {
	background-color: #fff;
	padding: 10px;
	text-align: center;
	border-radius: 15px;
	/* margin-bottom: 10px; */
}

.check_box section {
	margin-bottom: 60px;
}


.inner_search ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 20px;
}
