@charset "utf-8";

/* タイトル */
/* .inner {
	padding-top: 60px;
	padding-left: 20px;
	padding-right: 20px;
} */

.ttl_box {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 32px;
	border-bottom: dotted 5px DarkOrange;
	;
	width: fit-content;
}

.ttl_box span {
	display: inline-block;
}

.ttl_box .ttl {
	font-size: 3rem;
	font-weight: 500;
	letter-spacing: 0.1em;
	margin-bottom: 8px;
}

.ttl_box .sb-ttl {
	font-size: 2rem;
}

/* チェックしてみよう */
.lets_check {
	background-color: darkorange;
	padding: 20px;
	border-radius: 10px 10px 0 0;
}

.lets_check h3 {
	width: 240px;
	margin: 0 auto;
	font-size: 2.4rem;
	font-weight: 700;
	color: white;
}

/*チェックボックスの設定*/
input[type="checkbox"] {
	width: 15px;
	height: 15px;
	border: 2px solid;
	border-radius: 2px;
}



/*詳細検索の背景の設定*/

.check_box {
	padding-bottom: 0;
}

form {
	background-color: beige;
	padding-bottom: 40px;
	border-radius: 0 0 10px 10px;

}

/*カーソル形状*/
label,
input {
	cursor: pointer;
}



.inner_search {
	margin: 0 auto;
	font-size: 2rem;
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
}

.inner_search h3 {
	font-weight: 600;
	text-align: center;
	margin-bottom: 20px;
}

.inner_search li {
	text-align: center;
	border-radius: 15px;
}

.check_box section {
	margin-bottom: 20px;
}

/* チェックボックス・メディアクエリ */
@media screen and (width<=500px) {
	.inner_search ul {
		display: flex;
		align-items: baseline;
		flex-direction: column;
		gap: 20px;
	}

	.is_area li {
		margin: 0 auto;
	}

	.is_type li {
		margin-left: 10%;
	}

	.is_taste li,
	.is_allergy li {
		margin-left: 35%;
	}
}

@media screen and (width>500px) {
	.inner_search ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		gap: 20px;
	}

	.inner_search {
		padding-left: 10%;
		padding-right: 10%;
	}

	.is_allergy li {
		margin-right: 30px;
	}
}

@media screen and (width>900px) {
	.inner_search ul {
		gap: 30px;
	}

	.is_allergy li {
		margin-right: 0;
	}

	.inner_search {
		padding-left: 10%;
		padding-right: 10%;
	}

}

/* クリア検索ボタン */
.clear_or_search {
	width: 230px;
	margin: 0 auto;
	margin-top: 60px;
}

.clear_or_search input {
	width: 100px;
	text-align: center;
	padding: 15px;
	font-size: 1.6rem;
	font-weight: bold;
	color: white;
	border-radius: 20px;
	box-shadow: 0px 5px 3px rgba(25, 25, 112, 1);
	appearance: none;
}

.clear_or_search input:hover {
	border: solid 1px blue;
	border-radius: 20px;
	background-color: aliceblue;
	color: blue;
	transform: translateY(3px);
	box-shadow: 0px 5px 3px rgba(0, 0, 128, 0);
	transition: 0.2s ease-in-out;
	appearance: none;
}


.clear_btn {
	background-color: LightSkyBlue;
	margin-right: 25px;
}

.search_btn {
	background-color: darkorange;

}


.submit_or_reset input:hover {
	background-color: aliceblue;
	color: blue;
	transform: translateY(3px);
	box-shadow: 0px 5px 3px rgba(0, 0, 128, 0);
	transition: 0.2s ease-in-out;
	appearance: none;
}

.submit_or_reset input {
	border: 2px solid blue;
	border-radius: 15px;
	padding: 15px 15px;
	width: 110px;
	margin: 0 10px;
	background-color: blue;
	color: aliceblue;
	font-weight: bold;
	box-shadow: 0px 7px 3px rgba(25, 25, 112, 1);
	appearance: none;
}

/* チェックボックス下の三角形 */
.triangle_sc {
	width: 0;
	height: 0;
	border-style: solid;
	border-right: 75px solid transparent;
	border-left: 75px solid transparent;
	border-bottom: 0;
	border-top: 60px solid beige;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 2px;
}

/* 検索結果 */
.result_flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 30px;
}

.result_flex li {
	width: 300px;
	margin: 0 auto;
}

.result_box {
	margin-bottom: 50px;
}

@media screen and (max-width:1064px) and (min-width:900px) {
	.inner {
		padding: 0px 20px;
	}
}
