@charset "UTF-8";

section+section {
    margin-top: 60px;
}


h2 {
    width: fit-content;
    padding: 1rem 0;
    margin-bottom: 0.2rem;
    background-image: linear-gradient(90deg, #b2d5de 0 25%, #ddcfb3 25% 50%, #b3ddb4 50% 75%, #ddbab3 75%);
    background-repeat: no-repeat;
    background-size: 100% 0.8rem;
    background-position: bottom;
    color: #353535;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

/* このサイトについて */

.aboutsite {
    width: 90%;
    margin: 0 auto;
    border: solid #FBB126;
    padding: 20px;
    border-radius: 15px;
}

.aboutsite h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* タイトル */

.ttl_box {
    margin-bottom: 20px;
    margin-left: 20px;
}

.ttl_box h2 {
    font-size: 24px;
    /* DarkOrange; */

}

.ttl_box p {
    margin-top: 10px;
}


/* spで改行しているものをなくす */
@media (width>=600px) {
    .tb-none {
        display: none;
    }
}

/* バーガーメニュー */

.slider-wrap {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    border: solid #FBB126;
    border-radius: 15px;
    margin: 0 10px;
    padding: 10px;
}

.slider {
    /* height: 40vh; */
    height: 320px;
    position: relative;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    animation: slide-loop 40s linear infinite;
    padding: 10px;
}

.slider div {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-position: center;
    margin: 0 20px;
    background-size: cover;
}

@keyframes slide-loop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.scroll-infinity__wrap1 {
    margin: 30px 0 30px;
}

.scroll-infinity__wrap {
    margin: 30px 0 30px;
}

.column_list {
    padding-inline-start: 0px;
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.page_list {
    padding-inline-start: 0px;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* マップの雲 */

.area_map {
    position: relative;
}

.area_btn {
    margin-top: 40px;
}

.kumo {
    width: 30%;
    animation: floating-y 1.8s ease-in-out infinite alternate-reverse;
}

@keyframes floating-y {
    0% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(5%);
    }
}

.higashi {
    position: absolute;
    top: 20%;
    left: 50%;
}

.nishi {
    position: absolute;
    top: 30%;
    right: 60%;
}

.minami {
    position: absolute;
    top: 70%;
    right: 25%;
}



/* ==================== */
/* インスタグラム */
/* ==================== */

.inst_container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.inst_ttl h3 {
    background-image: linear-gradient(90deg, rgb(241, 139, 199), rgb(134, 85, 158));
    width: 300px;
    font-size: 1.6rem;
    border-radius: 15px;
    display: inline-block;
}

.inst_ttl {
    text-align: center;
    margin: 20px 0;
}

.inst_photo img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: solid blue;
    padding: 10px;
}

.inst_photo {
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0px;
    justify-content: center;
    gap: 20px;
}


/* バナー */

.banner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
    padding-inline-start: 0px
}

.banner img {
    max-width: 200px;
}

@media screen and (width>=700px) {
    section+section {
        margin-top: 100px;
    }

    h2 {
        font-size: 32px;
    }

    .column_list {
        gap: 50px;
    }

}

/* 以下すだちくんの設定 */
/*＝＝＝豆知識＝＝＝ */

/* すだちくんの見た目・配置 */
.sudachi {
    width: 90px;
    position: fixed;
    left: 15px;
    bottom: 200px;
    z-index: 5;
    cursor: pointer;
    margin-left: -45px;
    rotate: 60deg;
    background-color: none;
    transition: all 1s;
    animation: fadein 2s ease-out forwards;
}

.sudachi.is-active {
    margin-left: 0;
    rotate: 0deg;
    left: 0;
}

/* PC幅 */
@media screen and (min-width: 1023px) {
    .sudachi {
        width: 150px;
        position: fixed;
        left: -10px;
        bottom: 150px;
        z-index: 5;
        cursor: pointer;
        rotate: 60deg;
        background-color: none;
        /* animation: fadein 2s ease-out forwards; */
    }
}

/* 吹き出しの画像 */
.sudachi_commentbox {
    position: fixed;
    bottom: 285px;
    left: 80px;
    width: 280px;
    z-index: 5;
    -webkit-animation: 5s fukidashi_animation steps(1, start) infinite;
    animation: 5s fukidashi_animation steps(1, start) infinite;
}

/* PC幅 */
@media screen and (min-width: 1023px) {
    .sudachi_commentbox {
        position: fixed;
        /* 位置 */
        left: 150px;
        bottom: 280px;
        z-index: 5;
        -webkit-animation: 5s fukidashi_animation steps(1, start) infinite;
        animation: 5s fukidashi_animation steps(1, start) infinite;
    }
}

/* すだちくんのセリフ */
.sudachi_comment {
    font-size: 14px;
    font-weight: bold;
    position: fixed;
    left: 115px;
    bottom: 375px;
    z-index: 6;
    text-align: center;
    color: #3E3A39;
    width: 200px;
    word-wrap: break-word;
}

/* PC幅 */
@media screen and (min-width: 1023px) {
    .sudachi_comment {
        font-size: 14px;
        font-weight: bold;
        position: fixed;
        left: 185px;
        bottom: 370px;
        z-index: 6;
        text-align: center;
        color: #3E3A39;
        line-height: 1.3;
        width: 200px;
        word-wrap: break-word;
    }
}

/* 吹き出しとセリフのセット */
.sudachi_commentset {
    display: none;
    transition: 0.5s;
}

.sudachi_commentset.is-active {
    display: block;
    animation: appear 0.5s ease;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* 吹き出しカタカタ */
@-webkit-keyframes fukidashi_animation {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    10% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    20% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    30% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    40% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    50% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@keyframes fukidashi_animation {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    10% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    20% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    30% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    40% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    50% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

.fukidashiAnimation {
    -webkit-animation: 5s fukidashi_animation steps(1, start) infinite;
    animation: 5s fukidashi_animation steps(1, start) infinite;
}

.fukidashiAnimation--delay {
    -webkit-animation: 5s fukidashi_animation 2s steps(1, start) infinite;
    animation: 5s fukidashi_animation 2s steps(1, start) infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
