@charset "UTF-8";

section+section {
    margin-top: 40px;
}


h2 {
    width: fit-content;
    padding: 1rem 0;
    margin-bottom: 0.2rem;
    background-image: linear-gradient(90deg, #b2d5de 0 25%, #ddcfb3 25% 50%, #b3ddb4 50% 75%, #ddbab3 75%);
    background-repeat: no-repeat;
    background-size: 100% 0.8rem;
    background-position: bottom;
    color: #353535;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

.top h2 {
    margin: 0px auto 40px;
    text-align: center;
}

.top h2+p {
    margin: 0 auto;
    text-align: center;
}

/* このサイトについて */

.aboutsite {
    width: 90%;
    margin: 0 auto;
    /* border: solid #FBB126; */
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 6px 1px #FBB126, 0 0 6px 1px #FBB126 inset;
}

.aboutsite h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#aboutsite-text {
    text-align: left;
}

/* タイトル */

.ttl_box {
    margin-bottom: 20px;
    /* margin-left: 20px; */
}

.ttl_box h2 {
    font-size: 24px;
    /* DarkOrange; */

}

.ttl_box p {
    margin-top: 10px;
}


/* spで改行しているものをなくす */
@media (width>=600px) {
    .tb-none {
        display: none;
    }
}

/* バーガーメニュー */

.slider-wrap {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    border: solid #FBB126;
    border-radius: 15px;
    margin: 0 10px;
    padding: 10px;
}

.slider {
    /* height: 40vh; */
    height: 320px;
    position: relative;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    animation: slide-loop 40s linear infinite;
    padding: 10px;
}

.slider div {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-position: center;
    margin: 0 20px;
    background-size: cover;
}

@keyframes slide-loop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.scroll-infinity__wrap1 {
    margin: 30px 0 30px;
}

.scroll-infinity__wrap {
    margin: 30px 0 30px;
}

/* ==================== */
/* レシピ */
/* ==================== */

.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.list li {
    width: 100%;
    max-width: calc(33.33333% - 10px);
    /* max-width: 320px; */
    min-width: 300px;
    height: auto;
    margin: 0 auto;
    opacity: 1;
    transition: all .4s ease 0s;
    /* margin-bottom: 40px; */
    border-radius: 10px;
}

.recipe_box {
    width: 100%;
    margin: 10px auto;
    max-width: 300px;
    min-width: 300px;
    height: auto;
    border: 2px #FBB126 solid;
    border-radius: 10px;
}

.recipe_box p {
    /* width: 98%; */
    height: 6rem;
    margin: 0 auto;
    margin: 10px;
    padding: 5px;
    /* text-align: left; */
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    /* 12/4レシピカード内フォント編集山口 */
}

.recipe_box img {
    height: 200px;
    object-fit: cover;

}

.img-fluid {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}


/* コラム用のflex */

.column_list {
    padding-inline-start: 0px;
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
    justify-content: center;
}

/* レシピ用のflex */

.page_list {
    padding-inline-start: 0px;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
}

/* マップの雲 */

.area_map {
    position: relative;
    margin-bottom: 50px;

}

.area_btn {
    margin-top: 40px;
}

.kumo {
    width: 30%;
    max-width: 200px;
    animation: floating-y 1.8s ease-in-out infinite alternate-reverse;
}

@keyframes floating-y {
    0% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(5%);
    }
}

.higashi {
    position: absolute;
    top: 25%;
    left: 52%;
}

.nishi {
    position: absolute;
    top: 33%;
    right: 60%;
}

.minami {
    position: absolute;
    top: 62%;
    right: 30%;
}



/* ==================== */
/* インスタグラム */
/* ==================== */

.inst_container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.inst_ttl h3 {
    background-image: linear-gradient(90deg, rgb(241, 139, 199), rgb(134, 85, 158));
    width: 300px;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 15px;
    display: inline-block;
    padding: 10px;
}

.inst_ttl {
    text-align: center;
    margin: 20px 0;
}

.inst_photo img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: solid blue;
    padding: 10px;
}

.inst_photo {
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0px;
    justify-content: center;
    gap: 20px;
}


/* バナー */

.banner-item {
    height: 110px;
    width: 170px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F3E0;
    box-shadow: 4px 4px 0px #A9A9A9;
    transition: 0.3s all;
    margin: 30px;
    padding: 10px;
}

.banner-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* margin: 50px auto; */
    margin: 20px auto;
    /* margin-top: 150px; */
    margin-top: 20px;
    12/7山口追記
}


@media screen and (min-width: 770px) {
    .banner-wrap {
        max-width: 1200px;
        width: 100%;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-items: center;
    }
}

/* .banner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
    padding-inline-start: 0px
}

.banner img {
    max-width: 200px;
} */

@media screen and (width>=700px) {
    section+section {
        margin-top: 40px;
    }

    h2 {
        font-size: 32px;
    }

    .column_list {
        gap: 50px;
    }

}
